@use "./variables";

.categorycard {
	width: 100%;
	// height: 100%;
	background-color: variables.$light-color;
	display: flex;
	align-self: flex-start;
	flex-direction: column;
	gap: 8px;
	padding: 24px 30px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;

	.readmore {
		outline: none;
		border: none;
		font-size: 12px;
		background-color: variables.$primary-color;
		color: variables.$light-color;
		padding: 8px 16px;
		border-radius: 50px;
		font-weight: 600;
	}

	&_breadcrumbs {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;

		.share {
			display: flex;
			align-items: center;
			color: variables.$primary-color;
			font-weight: 600;
			gap: 6px;
		}
	}

	&_heading {
		font-size: 36px;
		font-weight: 800;
		display: flex;
		align-items: center;
		gap: 14px;

		.favorite_btn {
			font-size: 12px;
			font-weight: 600;
			color: variables.$primary-color;
			padding: 8px 12px;
			border-radius: 50px;
			border: 1px solid variables.$primary-light-color;
		}

		&_2 {
			font-size: 16px;
			color: variables.$dark-light-color;
		}
	}

	&_image {
		border-radius: 16px;
		overflow: hidden;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		-ms-border-radius: 16px;
		-o-border-radius: 16px;
	}
}
