* {
	box-sizing: border-box;
	font-family: "Noto Sans", sans-serif;
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #e4e6eb;
}

a {
	text-decoration: none;
}

.transition {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
