@use "./variables";

.post {
	width: 100%;
	height: 100%;
	background-color: variables.$light-color;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 24px 30px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;

	&_activity {
		width: 100%;
		flex-direction: row;
		align-items: start;
		gap: 24px;
		display: flex;
		@include variables.for-large-screen {
			display: none;
		}
		&_clap {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 6px;

			&_icon {
				border: 1px solid variables.$dark-secondary-color;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50px;
				height: 50px;
				padding: 10px;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;
			}
		}
	}

	&_breadcrumbs {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
	}

	&_heading {
		font-size: 40px;
		font-weight: 800;

		&_2 {
			font-size: 18px;
			color: variables.$dark-light-color;
		}
	}

	&_image {
		border-radius: 16px;
		overflow: hidden;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		-ms-border-radius: 16px;
		-o-border-radius: 16px;
	}

	&_author {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;

		&_profile {
			display: flex;
			align-items: center;
			gap: 10px;
			&_image {
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;
			}
			&_name {
				display: flex;
				flex-direction: column;
				.name {
					display: flex;
					align-items: center;
					gap: 6px;
					font-size: 14px;
					font-weight: 700;
					color: variables.$dark-color;

					.follow {
						border: 1px solid variables.$primary-light-color;
						color: variables.$primary-color;
						padding: 4px 16px;
						border-radius: 12px;
						-webkit-border-radius: 12px;
						-moz-border-radius: 12px;
						-ms-border-radius: 12px;
						-o-border-radius: 12px;
					}
				}

				.designation {
					font-size: 12px;
					color: variables.$dark-light-color;
					font-weight: 600;
				}
			}
		}
	}

	&_view {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 14px;
	}

	&_published {
		font-size: 14px;

		& > span {
			color: variables.$primary-color;
			font-weight: 600;
		}
	}

	table {
		width: 100%;

		th,
		td {
			border-collapse: collapse;
			border: 1px solid variables.$primary-color;
			padding: 8px;
			text-align: center;
			font-size: 14px;
		}

		tr:first-child {
			background-color: variables.$primary-color;
			color: variables.$light-color;
		}
	}

	h3 {
		font-size: 16px;
		font-weight: 600;
	}

	a {
		text-decoration: none;
	}
}
